<section class="px-8 text-gray-700 bg-indigo-500 w-full mx-auto">
  <div class="container flex flex-col items-center justify-between py-5 md:flex-row mx-auto">
    <div class="relative flex flex-col md:flex-row mx-auto">
      <nav class="flex-1 flex-row items-center mb-5 text-base md:mb-0 md:pl-8 md:ml-8 ">
        <a href="#_" class="inline-flex mr-5 items-center mb-5 font-medium text-gray-900 lg:w-auto lg:items-center lg:justify-center md:mb-0">
          <span class="mx-auto text-xl font-black leading-none text-gray-900 select-none"><%= t :learning_platform %></span>
        </a>
        <% if current_user %>
          <%= link_to "#{t :explore}", courses_path(available: true), class:"rounded-md px-3 py-2 text-black hover:bg-gray-800 hover:text-white" %>
          <%= link_to "#{t :my_learning}", courses_path(enroled: true), class:"rounded-md px-3 py-2 text-black hover:bg-gray-800 hover:text-white" %>
          <%= link_to "#{t :my_courses}", courses_path(authored: true), class:"rounded-md px-3 py-2 text-black hover:bg-gray-800 hover:text-white" %>
       
          <div class="relative inline-block text-left">
            <div class="group py-1">
              <button type="button"
            class="inline-flex justify-center items-center w-full px-4 py-2 text-sm font-medium text-white bg-indigo-600
                   hover:bg-indigo-800 focus:outline-none focus:bg-gray-700 rounded-lg">
                <%= current_user.username %>
                <svg class="w-4 h-4 ml-2 -mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 12l-5-5h10l-5 5z" />
                </svg>
              </button>
              <div class="absolute left-0 w-40 mt-1 origin-top-left bg-white divide-y divide-gray-100 rounded-md shadow-lg 
                opacity-0 invisible group-hover:opacity-100 group-hover:visible transition duration-300 z-50">
                <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                  <div class="font-medium truncate"><%= current_user.email %></div>
                </div>
                <div class="py-1">
                  <%= link_to "#{t :profile}", user_path(current_user), class:"block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
                  <%= link_to "#{t :log_out}", user_session_path(current_user), data: { turbo_method: :delete }, class:"block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <%= link_to "#{t :home}", root_path, class:"rounded-md pr-4 py-2 text-black hover:bg-gray-800 hover:text-white" %>
          <%= link_to "#{t :log_in}", new_user_session_path, class:"text-white bg-gray-600 hover:bg-gray-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg
                 text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
          <%= link_to "#{t :sign_up}", new_user_path, class:"text-white bg-indigo-600 hover:bg-indigo-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg
                 text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
        <% end %>
        <%= link_to root_path(locale: :ro) do %>
          <svg class="inline-flex w-8 h-8 mx-2" enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
            <path d="m345.043 15.922c-27.734-10.289-57.729-15.922-89.043-15.922-31.314-.001-61.31 5.633-89.043 15.922l-22.261 240.077 22.261 240.077c27.732 10.292 57.728 15.924 89.043 15.924 31.313 0 61.31-5.632 89.043-15.924l22.26-240.076z" fill="#ffda44"/>
            <path d="m512 256c0-110.07-69.472-203.907-166.957-240.077v480.156c97.485-36.174 166.956-130.007 166.957-240.079z" fill="#d80027"/>
            <path d="m0 255.999c0 110.073 69.472 203.906 166.955 240.079l.001-480.154c-97.484 36.17-166.956 130.004-166.956 240.075z" fill="#0052b4"/>
            <g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/></svg>
        <% end %>
        <%= link_to root_path(locale: :en) do %>
          <svg class="inline-flex w-8 h-8" enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
            <circle cx="256" cy="256" fill="#f0f0f0" r="256"/><g fill="#d80027"><path d="m244.87 256h267.13c0-23.106-3.08-45.49-8.819-66.783h-258.311z"/>
              <path d="m244.87 122.435h229.556c-15.671-25.572-35.708-48.175-59.07-66.783h-170.486z"/>
              <path d="m256 512c60.249 0 115.626-20.824 159.356-55.652h-318.712c43.73 34.828 99.107 55.652 159.356 55.652z"/>
              <path d="m37.574 389.565h436.852c12.581-20.529 22.338-42.969 28.755-66.783h-494.362c6.417 23.814 16.174 46.254 28.755 66.783z"/></g>
            <path d="m118.584 39.978h23.329l-21.7 15.765 8.289 25.509-21.699-15.765-21.699 15.765 7.16-22.037c-19.106 15.915-35.852 34.561-49.652 55.337h7.475l-13.813 10.035c-2.152 3.59-4.216 7.237-6.194 10.938l6.596 20.301-12.306-8.941c-3.059 6.481-5.857 13.108-8.372 19.873l7.267 22.368h26.822l-21.7 15.765 8.289 25.509-21.699-15.765-12.998 9.444c-1.301 10.458-1.979 21.11-1.979 31.921h256c0-141.384 0-158.052 0-256-50.572 0-97.715 14.67-137.416 39.978zm9.918 190.422-21.699-15.765-21.699 15.765 8.289-25.509-21.7-15.765h26.822l8.288-25.509 8.288 25.509h26.822l-21.7 15.765zm-8.289-100.083 8.289 25.509-21.699-15.765-21.699 15.765 8.289-25.509-21.7-15.765h26.822l8.288-25.509 8.288 25.509h26.822zm100.115 100.083-21.699-15.765-21.699 15.765 8.289-25.509-21.7-15.765h26.822l8.288-25.509 8.288 25.509h26.822l-21.7 15.765zm-8.289-100.083 8.289 25.509-21.699-15.765-21.699 15.765 8.289-25.509-21.7-15.765h26.822l8.288-25.509 8.288 25.509h26.822zm0-74.574 8.289 25.509-21.699-15.765-21.699 15.765 8.289-25.509-21.7-15.765h26.822l8.288-25.509 8.288 25.509h26.822z" fill="#0052b4"/>
            <g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/></svg>
        <% end %>
      </nav>
    </div>
  </div>
</section>