<%= render 'pages/navbar' %>

<div class="max-w-3xl mx-auto text-center mt-5 mb-10">
  <h1 class="text-4xl font-bold text-gray-900 leading-tight mb-2 border-t-4 border-b-4 border-indigo-400 py-4">
    Reorder lessons for <%= @course.title %>
  </h1>
</div>
<% @course.lessons.each do |lesson| %>
      <div class="bg-gray-100 p-5 mt-2 rounded-lg">
        <h1 class="font-bold text-2xl mb-2"><%= lesson.title %></h1>
        <% course_lesson = @course.get_course_lesson(lesson) %>
        <%= link_to 'Up', course_course_lesson_path(@course, course_lesson, position: course_lesson.position, up: true), data: {turbo_method: :put} %>
        <%= link_to 'Down', course_course_lesson_path(@course, course_lesson, position: course_lesson.position, down: true), data: {turbo_method: :put} %>
      </div>
<% end %>