<%= render 'pages/navbar' %>
<div class="flex  bg-gray-100">
  <%= render 'courses/navbar' %>
  <div class="flex justify-center items-center min-h-screen bg-gray-100 w-4/5">
    <div class="content-center max-w-5xl w-full px-4 py-8 bg-white shadow-lg rounded-lg">
      <%= @course_lesson.lesson.content %>
      <div class="mt-8 flex justify-center">
        <% if @course_lesson.position == @course.lessons.size - 1 %>
          <% if @course.lessons.size == 1 %>
            <%= link_to "Back", course_path(@course), class:"inline-flex items-center border border-indigo-300 px-3 py-1.5 rounded-md text-indigo-500 hover:bg-indigo-50 text-lg" %>
          <% else %>
            <%= link_to "Back", course_lesson_path(@course, @course.course_lessons.find_by(position: @course_lesson.position - 1).lesson), class:"inline-flex items-center border border-indigo-300 px-3 py-1.5 rounded-md text-indigo-500 hover:bg-indigo-50 text-lg" %>
          <% end %>
          <% if current_user.enroled?(@course) %>
            <%= link_to "Finish", course_enrolment_path(@course, @course.enrolments.find_by(user_id: current_user.id), position: @course_lesson.position + 1),
            data: { turbo_method: :put }, class:"inline-flex items-center border border-indigo-300 px-3 py-1.5 rounded-md text-indigo-500 hover:bg-indigo-50 text-lg" %>
          <% else %>
            <%= link_to "Finish", courses_path(enroled: true), class:"inline-flex items-center border border-indigo-300 px-3 py-1.5 rounded-md text-indigo-500 hover:bg-indigo-50 text-lg" %>
          <% end %>
        <% elsif @course_lesson.position == 0 %>
          <%= link_to "Back", course_path(@course), class:"inline-flex items-center border border-indigo-300 px-3 py-1.5 rounded-md text-indigo-500 hover:bg-indigo-50 text-lg" %>
          <% if current_user.enroled?(@course) %>
            <%= link_to "Next", course_enrolment_path(@course, @course.enrolments.find_by(user_id: current_user.id), position: @course_lesson.position + 1),
            data: { turbo_method: :put }, class:"inline-flex items-center border border-indigo-300 px-3 py-1.5 rounded-md text-indigo-500 hover:bg-indigo-50 text-lg" %>
          <% else %>
            <%= link_to "Next", course_lesson_path(@course, @course.course_lessons.find_by(position: @course_lesson.position + 1).lesson),
            class:"inline-flex items-center border border-indigo-300 px-3 py-1.5 rounded-md text-indigo-500 hover:bg-indigo-50 text-lg" %>
          <% end %>
        <% else %>
          <%= link_to "Back", course_lesson_path(@course, @course.course_lessons.find_by(position: @course_lesson.position - 1).lesson),
          class:"inline-flex items-center border border-indigo-300 px-3 py-1.5 rounded-md text-indigo-500 hover:bg-indigo-50 text-lg" %>
          <% if current_user.enroled?(@course) %>
            <%= link_to "Next", course_enrolment_path(@course, @course.enrolments.find_by(user_id: current_user.id), position: @course_lesson.position + 1),
            data: { turbo_method: :put }, class:"inline-flex items-center border border-indigo-300 px-3 py-1.5 rounded-md text-indigo-500 hover:bg-indigo-50 text-lg" %>
          <% else %>
            <%= link_to "Next", course_lesson_path(@course, @course.course_lessons.find_by(position: @course_lesson.position + 1).lesson),
            class:"inline-flex items-center border border-indigo-300 px-3 py-1.5 rounded-md text-indigo-500 hover:bg-indigo-50 text-lg" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
