<% if params[:available] %>
  <h6 class="text-center text-3xl font-bold my-5"><%= t :explore %></h6>
<% elsif params[:authored] %>
  <h6 class="text-center text-3xl font-bold my-5"><%= t :my_courses %></h6>
<% elsif params[:enroled] %>
  <h6 class="text-center text-3xl font-bold my-5"><%= t :my_learning %></h6>
<% end %>
<% if courses.blank? %>
  <%= render 'pages/empty' %>
<% else %>
  <%= render 'search_bar' %>
<% end %>
<div class="flex flex-wrap justify-start gap-x-5 gap-y-5 mt-5">
  <% courses.each do |course| %>
    <div class="bg-gray-100 p-5 rounded-lg flex-shrink-0" style="flex-basis: calc(33.3333% - 20px);">
      <h1 class="font-bold text-2xl mb-2 text-center"><%= course.title %></h1>
      <%= render 'difficulty', difficulty: course.difficulty %>
      <% if course.tags.blank? %>
        <div class="inline-flex space-x-2 mb-4">
          <span class="bg-indigo-200 text-indigo-500 text-xs font-semibold px-2 py-1 rounded-full">No tags available</span>
        </div>
      <% else %>
        <% course.tags.each do |tag| %>
          <div class="inline-flex space-x-2 mb-4">
            <span class="bg-indigo-200 text-indigo-500 text-xs font-semibold px-2 py-1 rounded-full"><%= tag.name %></span>
          </div>
        <% end %>
      <% end %>
      <% if course.photo.representable? %>
        <%= link_to course_path(course) do %>
          <div class="mt-4">
            <%= image_tag url_for(course.photo), class: "w-full h-48 object-cover rounded-md" %>
          </div>
        <% end %>
      <% end %>
      <%= render 'progressbar', course: course%>
    </div>
  <% end %>
  <% if params[:authored] && !courses.blank? %>
    <%= link_to new_course_path, class: "bg-white border-2 border-dashed border-gray-300 flex items-center justify-center p-5 rounded-lg text-gray-400 hover:text-indigo-500 hover:border-indigo-500 transition duration-150 ease-in-out", style: "flex-basis: calc(33.3333% - 20px); height: 200px;" do %>
      <div class="flex flex-col items-center">
        <span class="text-5xl font-bold">+</span>
        <span class="mt-2 text-lg font-semibold"><%= t :add_course %></span>
      </div>
    <% end %>
  <% end %>
</div>