 <% if courses.blank? %>
  <%= render 'pages/empty', enroled: true %>
<% else %>
  <% if @available %>
    <h6 class="text-center text-3xl font-bold my-5"><%= t :explore %></h6>
    <%= render 'search_bar', available: true %>
  <% elsif @authored %>
    <h6 class="text-center text-3xl font-bold my-5"><%= t :my_courses %></h6>
    <%= render 'search_bar', authored: true %>
  <% elsif @enroled %>
    <h6 class="text-center text-3xl font-bold my-5"><%= t :my_learning %></h6>
    <%= render 'search_bar', enroled: true %>
  <% end %>
<% end %>
<div class="flex flex-wrap justify-start gap-x-5 gap-y-5 mt-5">
  <% courses.each do |course| %>
    <div class="bg-gray-100 p-5 rounded-lg flex-shrink-0" style="flex-basis: calc(33.3333% - 20px);">
      <h1 class="font-bold text-2xl mb-2 text-center"><%= course.title %></h1>
      <%= render 'difficulty', difficulty: course.difficulty %>
      <% if course.photo.representable? %>
        <div class="mt-4">
          <%= image_tag course.photo.representation(resize_to_limit: [800, 800]), class: "w-full h-48 object-cover rounded-md" %>
        </div>
      <% end %>
      <% if @available %>
        <%= render 'dropdown', course: course %>
      <% elsif @authored %>
        <%= render 'dropdown', course: course %>
      <% elsif @enroled %>
        <%= render 'dropdown', course: course %>
      <% end %>
    </div>
  <% end %>
</div>