<% if current_user.enroled?(course) %>
  <% progress = current_user.get_enrolment(course).progress %>
  <div class="flex items-center justify-between mt-5">
    <!-- Progress bar -->
    <div class="w-full bg-gray-200 rounded-full">
      <div id="progressBar" class="bg-indigo-700 text-m font-medium text-white text-center p-0.5 leading-none rounded-full" style="width: <%= progress %>%"> <%= progress %>%</div>
    </div>

    <!-- Edit button -->
    <% if params[:authored] %>
      <%= link_to edit_course_path(course) do %>
        <div>
          <button class="flex p-2.5 bg-indigo-700 rounded-xl hover:rounded-3xl hover:bg-indigo-800 transition-all duration-300 text-white ml-3">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
          </button>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="flex items-center justify-between mt-5">
    <!-- Progress bar -->
    <div class="w-full bg-gray-200 rounded-full">
      <div id="progressBar" class="bg-green-700 text-m font-medium text-white text-center p-0.5 leading-none rounded-full" style="width: 100%"> <%= t :available %> </div>
    </div>

    <!-- Edit button (only shows if authored) -->
    <% if params[:authored] %>
      <%= link_to edit_course_path(course) do %>
        <div>
          <button class="flex p-2.5 bg-indigo-700 rounded-xl hover:rounded-3xl hover:bg-indigo-800 transition-all duration-300 text-white ml-3">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
          </button>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
